# Python Binaries
*.py[cod]

# Django Files
localsettings.py

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs and other files
pip-log.txt
*.log
*.db
*.dump
*.sqlite3

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# IDE files
.project
.pydevproject
.idea

# Project Specific Files
files/*
sitemedia/*

# Other Files
.DS_Store
dpnode/dpn_bags_dir/*.*
dpnode/dpn_recovery_dir_out/*.*
.venv

# Other DB related files
data/workflow_table.sql
data/test_entries.json