# Python Binaries
*.py[cod]

# Django Files
localsettings.py

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs and other files
pip-log.txt
*.log
*.db
*.dump

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# IDE files
.project
.pydevproject
.idea

# Project Specific Files
aptrustmq/mqconfig.py

# Other Files
.DS_Store