# Requirements file for python3
anyjson==0.3.3
amqp==1.4.5
kombu==3.0.16
django==1.5.8
celery==3.1.11
sphinx
django-grappelli==2.4.6
watchdog==0.7.1
requests==2.2.1
django-extensions==1.3.6
redis==2.9.1