{% extends "site_base.html" %}

{% block content-title %}DPN Registry Summary{% endblock %}

{% block content-body %}
<h2>Total Registry Stats</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">{{ count }}</span>
        Bag Count:
      </li>
      <li class="list-group-item">
        <span class="badge">{{ totals.bag_size__sum|filesizeformat }}</span>
        Total Storage:
      </li>
      <li class="list-group-item">
        <span class="badge">{{ totals.bag_size__avg|filesizeformat }}</span>
        Average Bag Size:
      </li>
      <li class="list-group-item">
        <span class="badge">{{ totals.bag_size__max|filesizeformat }}</span>
        Largest Bag:
      </li>
    </ul>
<div class="container-fluid">
    <div class="row">
    <h2>Storage Stats at Each Node</h2>
    {% for node in local_totals %}
        <div class="bs-callout bs-callout-info col-xs-6">
            <h4 class="text-info">{{ node.name }}</h4>

                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">{{ node.bag_count }}</span>
                    # Bags Stored:
                  </li>
                  <li class="list-group-item">
                    <span class="badge">{{ node.total_size|filesizeformat }}</span>
                    Total Size Stored:
                  </li>
                </ul>
        </div>
    {% endfor %}
    </div>
</div>

<div class="container-fluid">
    <div class="row">
<h2>Deposit Stats by First Node</h2>
    {% for node in node_totals %}
        <div class="bs-callout bs-callout-warning col-xs-6">
        <h4 class="text-warning">{{ node.first_node_name }}</h4>

            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge">{{ node.bag_size__count }}</span>
                # Bags Sent:
              </li>
              <li class="list-group-item">
                <span class="badge">{{ node.bag_size__sum|filesizeformat }}</span>
                Total Size Sent:
              </li>
              <li class="list-group-item">
                <span class="badge">{{ node.bag_size__avg|filesizeformat }}</span>
                Average Bag Size:
              </li>
              <li class="list-group-item">
                <span class="badge">{{ node.bag_size__max|filesizeformat }}</span>
                Largest Bag:
              </li>
            </ul>

        </div>
    {% endfor %}
</div></div>

{% endblock %}